[2019-12-04 10:53] mbernasocchi opened #1 "Prepare binary plugins vote mail"
Dear community voting members, some time ago a discussion on allowing plugins containing binaries on the QGIS’ plugin repository created an interesting discussion with both pro and contra arguments.
The PSC agreed that due to the very split nature of the positions i

[2019-12-04 11:37] jef-n commented on #1
Message (still) looks truncated…

[2019-12-04 12:52] mbernasocchi commented on #1
yep, because I haven't finished writing it yet :)

[2019-12-04 17:59] pcav opened #2 "Condensate all policies into one page"
We have various policies (e.g for unit tests, documentation etc.) but apparently not a central place to see them all.
From old PSC meeting:

* We still have old stuff hanging around https://issues.qgis.org/projects/qgis/wiki/Contributor_Guidelines
* “As of November 2007 we require all new features going into master to be accompanied with a unit test. Initially we have limited this requirement to q

[2019-12-04 18:01] pcav opened #3 "QGIS Server docker in official QGIS hub repo"
FROM OLD psc MEETING:

Status: there are multiple docker containers out there but no official one from QGIS. https://hub.docker.com/search?q=qgis-server&type=image
There is a good one by ???Gem???. Marco could ask them to make their work the official one.
TODO: Marco to ask current maintainers of different images if they would be prepared to maintain an official image. We should explain that we ar

[2019-12-12 11:41] pcav opened #4 "Paid PR Queue maintainer funding drive"
Draft message from Tim’s email:

Dear QGIS Users. We are so excited to bring you this new release of QGIS, packed with amazing features and capabilities. Many of the new features you see in QGIS are paid for by individuals and companies who want to support the QGIS platform by improving its feature set. QGIS is a labour of love, built by a team of dedicated and highly skilled contributors who supp

[2019-12-12 11:42] pcav commented on #4
Use a subscription-based system? E.g. Patereon, Stripe, or similar
Need to communicate specific goals
Documentation Drive
Bugfixing Drive
TODO Tim: draft next version
TODO Tim & Andreas: Make a landing page for the funding campaign with subscription and campaign sign up
Something like https://donate.wikimedia.org/w/index.php?title=Special:LandingPage&country=IT&uselang=it&utm_medium=sidebar&utm_so

[2019-12-12 11:44] pcav opened #5 "Vision document"
https://docs.google.com/document/d/1-bh6gP3m2LrsuAEJ5eZM7uTjXNv5roRIA1sc8eN0Gxw/edit?ts=5cff5f9e#heading=h.4hvy87cjuibv
Idea: crowdsource ideas? → next user question
What is your vision for QGIS.ORG?
What should be the goals of QGIS.ORG?

[2019-12-12 11:46] pcav commented on #5
Braindump from Richard:
It is some quick googling, and what I personally feel should be a FOSS
project.

I tend to have a clear separation between the community/project and
companies trying to make a living from it. The project should be
leading, and not spend direct money on companies for features, but only
for bugfixing, infra and architectural changes, preferably to
individuals.  In this way th

[2019-12-12 12:03] pcav opened #6 "HANA provider"
Reach a final decision.

[2019-12-12 12:05] pcav opened #7 "Write blog post proposal about Indeed donation"
Indeed donation (US $ 10k) arrived. Would be nice to write a blog post about it and encourage other companies to do the same.

[2019-12-12 12:07] pcav commented on #6
Marco reports that there’s been a call with SAP but it’s not cleared up yet, they expect free development work

[2019-12-12 12:09] pcav opened #8 "Status of accepted Grants 2019"
See https://drive.google.com/drive/u/0/folders/1DwFBOiTKI_ncoQF_GX7yGd21eTWbcDyU
We should try to make sure they are completed and paid by the end of the year.
TODO: Andreas to ask devs about the status.
Accepted proposals and their status:
* Profile and optimise the QGIS vector rendering code (N. Dawson): done and paid
* "Rebalance" the labeling engine and fix poor automatic label placement choic

[2019-12-12 12:23] pcav opened #9 "Advertise Nødebo 2020 User Conference & Developer Meeting in news feed"
Add next user question to https://feed.qgis.org/admin
Add future blog.qgis.org posts
Advertise developer / user meetings

[2019-12-12 12:25] pcav opened #10 "Promote the development of a metadata abstraction library"
Tim, Nyall, Tom, Angelos, and a number of people interested in metadata
Proposal is to promote the development of a metadata abstraction library
TODO: Tim to write to OSGEO raising the idea

[2019-12-12 12:29] pcav opened #11 "Improve documentation process and infrastructure"
TODO Tim: Contact Harrissou and discuss
Goal: Support direct editing on github in markdown and results published directly
We discussed:
* Concentrating on English only
* Concentrating on listing features
* Allowing users to add detailed tutorials and videos as “comments”
* Move to Markdown (maybe using pandoc?)

Documentation discussion from Cameron Shorter
https://docs.google.com/document/d/11N5d

[2019-12-12 12:33] pcav opened #12 "Clarify status of mobile apps"
Last discussed in June: “Mobile apps on qgis website” https://docs.google.com/document/d/1pUGN5FfUQladPRH2OLPGDjTE6UVtlAvVqZcKn7xIgtM/edit#heading=h.la263tdgxkvi
Proposals:
* deprecating the Android version
* making “QField” an “official” QGIS project
Open issue: publisher in Google Playstore currently is OpenGIS. Changing organization to QGIS / OSGeo would cause a loss of download stats & rating

[2019-12-12 12:35] pcav opened #13 "Budget item for qgis.org website refresh"
Website needs a refresh, updates for cookies etc.

[2019-12-12 12:36] pcav commented on #1
Previous discussion: http://osgeo-org.1560.x6.nabble.com/QGIS-Developer-Windows-only-version-of-a-QGIS-2-18x-plugin-tt5394159.html#none
Issue summary:
* Binaries in plugin - majority in community don’t approve
* Platform specific plugins - most in community don’t seem to mind (Paolo strongly objects to “proprietary OS only” plugins e.g. ones that run only on Windows or Mac)
* Plugins requiring pro

[2019-12-12 12:38] pcav commented on #11
Documentation strategy adjustments - status?
Paolo: http://changelog.qgis.org/en/qgis/section/list/ - Tim demonstrates training lesson worksheets with information on the subject, data to downloads, screenshots, questions and answers. Content is structured with RST markup.
Tim: Proposing that we modify the platform to also allow submission of externally prepared training resources so that we can ha

[2019-12-12 12:40] pcav opened #14 "Investing our profits from the training certificates"
It would be useful to re-invest that money into improving training material and try to lobby universities to use more FOSSGIS in their curricula (perhaps starting from next year). Consult with Kurt and Hans on this matter.

[2019-12-12 12:52] pcav opened #15 "Filling vacant PSC seat: call for nominations"
seat and organize election see: https://docs.google.com/forms/d/1BwB7I34xf21R6pyoAIVHpdoc-_7AY5phAnq7k7BwcPg/edit#responses
No new country user groups → no new voting members
Proposed to combine general PSC nominations with electing replacement for Richard

[2019-12-12 12:53] mbernasocchi commented on #6
We are in discussion with SAP. They do _not_ expect free dev work.

[2019-12-12 12:57] pcav opened #16 "Formalize responsibilities and add deadlines to the PSC calendar"
Current responsibilities:

Grant planning: Anita
Grant assessment / payments: Andreas
Grant reporting: Anita
Hackfest travel grant requests: Andreas
Hackfest travel reporting from grantees: Tim (chase)
Funded bugfix planning: Andreas
Funded bugfix reporting (changelog): Andreas
Specific funding requests: PSC vote
Specific funding feedback: Funded prerequisite should reporting on the work done and

[2019-12-12 13:00] mbernasocchi opened #17 "2019-12-12-proj6-bugfix"
Date of voting
===================================
2019-12-12

Proponent
===================================
Andreas Neumann

Rationale
===================================
Nyall Dawson requested an additional 3-4 days of funding for proj6 related issues and fixes.
We still have funding available.

Votes
===================================
In favour: Andreas, Marco, Tim, Anita, Paolo

Decision
====

[2019-12-12 13:00] #17 closed

[2019-12-12 13:01] mbernasocchi opened #18 "2019-12-12-testing-hardware"
Date of voting
===================================
2019-12-12

Proponent
===================================
Andreas Neumann

Rationale
===================================
Giovanni Manghi requested the purchase of additional hardware to improve the testing process.
Specifically:
* 450 € for improving his PC hardware
* 500-700 to get a decent used Mac.
We still have funding available.

Votes
======

[2019-12-12 13:01] #18 closed

[2019-12-12 13:17] pcav opened #19 "Add representatives of new user groups to the voting member pool"
title says it all

[2019-12-12 13:19] pcav opened #20 "Organize nominations of candidates for community voting members"
title says it all

[2019-12-12 13:20] pcav opened #21 "Publish outcomes of the 2019 grant proposals"
BUT multiple proposals have not finished yet

[2019-12-12 13:22] pcav opened #22 "Links to mobile applications on the official download page"
update the download page

[2019-12-12 13:24] pcav opened #23 "Incubation process for projects such as QField, INPUT, Roam"
Saber also suggests to have an (OSGeo) incubation process for projects such as QField, INPUT, Roam to be accredited as ‘official’ projects
The group agreed that this needs broader discussion before making a decision
TODO take it to the mailing list
Do we want to discuss first and suggest 1 or 2 proposals? I see infinite mailings on this
How about a QEP - good mechanism for this?
Yep or first an ad

[2019-12-12 13:52] pcav opened #24 "Propose OSGEO a way of supporting Osgeo4w"
Send OSGEO a letter explaining our position:
* It’s a “community project” according to https://www.osgeo.org/projects/osgeo4w/
* https://wiki.osgeo.org/wiki/OSGeo_Budget_2019 reads “Community projects act through the board as they do not have a project officer. Board approved $1000 for each project (see Community Projects Initiative above)”
Apply for funds.

[2019-12-12 15:26] mbernasocchi opened #25 "Test TODO"
Deadline
===========
2020-12-12

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2019-12-12 15:28] #25 closed

[2019-12-12 16:02] mbernasocchi opened #26 "New test"
Deadline
===========
2020-12-12

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2019-12-12 16:12] mbernasocchi opened #27 "Test issue 2"
Deadline
===========
2020-12-12

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2019-12-12 16:24] #26 closed

[2019-12-12 16:24] #27 closed

[2019-12-16 10:48] pcav commented on #14
Wrote to H+K

[2019-12-16 10:58] haubourg commented on #23
Good idea. We should discuss what are requirements of an incubation project and a official project are.

the OSGEO incubation page is interesting to start discussing : https://wiki.osgeo.org/wiki/Incubation_FAQ

[2019-12-16 11:01] pcav commented on #23
Apparently the options are:
* each project as a separate OSGeo project
* all under QGIS umbrella
* and of course option 0, leave everything as it is.
There are of course advantages and disadvantages of each solution. Leaders of each project will have the last work here.

[2019-12-16 11:08] luipir commented on #23
should be extended to qgis server clients too? or it's limited to mobile clients?

[2019-12-16 11:12] pcav commented on #2
Last link apparently broken. Current one:
https://docs.qgis.org/testing/en/docs/developers_guide/index.html (https://github.com/qgis/QGIS-Documentation/tree/master/source/docs/developers_guide)
The content of https://issues.qgis.org/projects/qgis/wiki/Contributor_Guidelines is:

# Contributor Requirements and Responsibilities

In order to contribute code, patches, or documentation to the QGIS proj

[2019-12-16 11:13] pcav commented on #2
What other policies are there around?

[2019-12-16 11:14] pcav commented on #23
Agreed, a similar process would make sense for web clients as well, IMHO. The original request came from mobile clients, however, so let's start from here.
Thanks for the suggestion.

[2019-12-16 11:18] haubourg commented on #23
IMO, we should be able to list all serious QGIS related project.
But I would treat differently projects that aim to become free communities - with the same requirement as OSGEO project (PSC, code of conduct, governance rules, etc..) and the projects that are very linked to an editor.
The OSGEO requires a open PSC with elections to recognize a osgeo project for instance, which leads have OSGEO4W no

[2019-12-16 22:43] nyalldawson commented on #8
"Rebalance" the labeling engine and fix poor automatic label placement choices (N. Dawson)

These two are done and paid -- there's a final report here:

https://lists.osgeo.org/pipermail/qgis-psc/2019-December/007960.html

[2019-12-16 22:45] nyalldawson commented on #21
For reference, the summary of work done for my two grants is here: https://lists.osgeo.org/pipermail/qgis-psc/2019-December/007960.html

[2019-12-17 00:20] NathanW2 commented on #23
Thanks @pcav.  I would be keen to have a chat about Roam in this kind of thing.

[2019-12-17 07:32] andreasneumann commented on #23
I think there should be both options available: incubate at OSGeo or at QGIS - with or without a PSC. In the latter case, QGIS PSC could potentially step in. I would let the team of the project decide how they want to organize.

In case of "incubation" at QGIS.ORG, the QGIS code of conduct should automatically be applied to the project under the hood of the QGIS organization.

[2019-12-17 07:35] pcav commented on #21
Thanks @nyalldawson

[2019-12-17 07:36] pcav commented on #8
Thanks @nyalldawson

[2019-12-17 07:54] andreasneumann commented on #8
I updated the status of the grants above. The last two are still being worked on.

[2019-12-17 08:03] pcav commented on #23
@NathanW2 thanks. we have the choice of either setting up a voice meeting or a discussion on the mailing list. Feel free to propose the solution that suits you better.

[2019-12-18 08:12] pcav commented on #2
The only other I found is: https://plugins.qgis.org/publish/
IMHO the current situation is better than expected, and I do not see much room for improvements.

[2019-12-18 08:16] pcav commented on #2
I add:
* policies for approving local groups
* po0licies for approval of certifying QGIS trainers

[2019-12-27 14:41] jvdkwast commented on #14
I think the profits from the certificates should first be invested in improving the platform as suggested in the meeting in Bucharest (https://github.com/qgis/QGIS/wiki/Ideas-for-improving-the-QGIS-certification-programme). After improving the platform we can reach out to universities.

[2020-01-04 09:06] anitagraser commented on #21
For reference: six proposals were selected, checkmarks indicate received reports:

- [x] Vector rendering code (Nyall Dawson) https://lists.osgeo.org/pipermail/qgis-psc/2019-December/007960.html
- [x] Labeling engine (Nyall Dawson) https://lists.osgeo.org/pipermail/qgis-psc/2019-December/007960.html
- [x] DB manager (Alessandro Pasotti @elpaso & Nyall Dawson) https://www.itopen.it/qgis-abstract-co

[2020-01-04 09:12] anitagraser commented on #9
As it currently stands, this issue is a reoccurring task that can never be closed.
To change it to an issue that can be closed I'm focusing it on advertising the upcoming user conference https://github.com/qgis/QGIS/wiki/25th-Developer-Meeting-in-Nødebo,-Denmark

[2020-01-04 09:33] anitagraser opened #28 "Publish QGIS.ORG Annual Report 2019"
Deadline
===========
2020-01-31

Notes
=====
Last year's report for reference: https://docs.google.com/document/d/114ofo3juxXFCKPVBqFuYIz8MB1xhBdXifo9e54V7ovU/edit?usp=sharing

[2020-01-04 09:35] anitagraser commented on #28
New document: https://docs.google.com/document/d/1_Jk2VK3ntRKIjMIFxotu8fzJ2hfM4Xr3k2jD-YndM-s/edit?usp=sharing

[2020-01-04 10:07] anitagraser commented on #28
@pcav I've update the report with the 2019 information. Please check and add any relevant information I might have missed.

[2020-01-04 10:36] anitagraser commented on #21
Related issue; https://github.com/qgis/PSC/issues/8

[2020-01-04 10:39] anitagraser commented on #21
@elpaso and @mhugo: Since your proposals are already implemented, please provide a summary of the grant work that can be used in a report (blog post) on the grant programme.

[2020-01-04 10:49] anitagraser opened #29 "Status of & reports on accepted grants 2018"
Deadline
===========
2020-01-31

Notes
=====
There were seven successful proposals, checkmarks indicate finished projects:

- [x] Increased stability for Processing GUI and External Providers (Nyall Dawson) - [Report](https://lists.osgeo.org/pipermail/qgis-psc/2018-September/006601.html)
- [x] OSGeo4W updates (Jürgen Fischer) - without that there wouldn't be any QGIS 3x Windows versions
- [x] Resu

[2020-01-04 10:56] anitagraser commented on #29
The last status overview I could find was by @pcav https://lists.osgeo.org/pipermail/qgis-psc/2018-September/006556.html

Response by Nyall: https://lists.osgeo.org/pipermail/qgis-psc/2018-September/006601.html

[2020-01-04 11:00] andreasneumann commented on #29
They are all completed, except for the last one and the OGC WFS compliance (which ran out of resources).

[2020-01-04 11:31] anitagraser commented on #29
@nyalldawson Is there any page I could link to for a summary of the "Increased stability for Processing GUI and External Providers" proposal?

[2020-01-04 11:41] nyalldawson commented on #29
@anitagraser

Here's the text from the report sent to PSC:

"Processing GUI and maintenance work:

- Many bugs in the QGIS 3rd party providers have been fixed, with lots
of new unit tests added. I've cleared out most of the outstanding
issues against the SAGA provider (in most cases adding one or more
test cases for these). I've also refactored the GDAL algorithm tests
to test the GDAL command gen

[2020-01-04 13:08] anitagraser commented on #29
@nyalldawson Thank you, Nyall! I was under the impression that those paragraphs were merely a status update for work in progress but if they represent the final report, I'll use them.

[2020-01-05 10:12] m-kuhn commented on #21
Denis Rouzaud (@3nids) was / is actively working on this.

[2020-01-06 00:13] nyalldawson commented on #29
@anitagraser

It's a little murky I guess -- that was the report initially sent to PSC, but there has been many follow ups since then.

E.g. for the gui refactoring, the point parameter, file parameter, range parameter, expression parameter, enum parameter, field parameter and fixed table (matrix) parameters have all been ported to date. Not all of these were part of the original proposal however!

[2020-01-06 08:09] andreasneumann commented on #13
Any idea how much is needed for this and who could work on this - @pcav ?

[2020-01-06 08:35] pcav commented on #13
No idea about the amount. I guess the work can be split in two:
* update the infrastructure, adding warning for cookies, possibly moving to a different framework
* revising and refreshing the content - apparently many people find the current navigation structure a bit confusing.
Better discussing this in the next PSC.

[2020-01-06 09:15] troopa81 commented on #21
@anitagraser Regarding snapping, I will prepare a blog post by the end of the week

[2020-01-06 09:38] andreasneumann commented on #13
OK - we need to have a clear list of things we like to be addressed (your items above already help a bit). Otherwise we can't do an estimate and find the appropriate people to work on it.

Let's put it on the agenda of the next PSC meeting.

[2020-01-06 10:37] elpaso commented on #21
@anitagraser I'll write a summary and share a google doc with you, is that ok?

[2020-01-06 12:58] 3nids commented on #21
@anitagraser here we go https://lists.osgeo.org/pipermail/qgis-psc/2020-January/008095.html

[2020-01-06 13:45] anitagraser commented on #29
I've published a summary blog post now: http://blog.qgis.org/2020/01/06/reports-from-the-winning-grant-proposals-2018/

Please let me know if anything should be added or needs correction.

[2020-01-06 13:45] #29 closed, assigned to anitagraser

[2020-01-06 15:06] pcav commented on #29
Thanks Anita!

[2020-01-06 15:16] pcav commented on #28
Thanks a lot @anitagraser . I have read it, checked, made minor adjustments, and I believe it is OK.
Don't we have any report for the Bucharest CM?

[2020-01-06 15:58] anitagraser commented on #28
Thank you @pcav! About Bucharest CM: There's no report on http://blog.qgis.org and I didn't attend but maybe someone who did can write a short summary?

[2020-01-06 18:28] pcav commented on #28
Maybe it does not make much sense so long after. @timlinux do you have anything?

[2020-01-07 14:59] mbernasocchi commented on #1
@qgis/psc please proofread and comment

[2020-01-07 15:04] mbernasocchi commented on #6
Matthias is working with them to help getting all the requirements as needed. They already have implemented missing tests and are now working on CI.

[2020-01-07 15:12] anitagraser commented on #21
@3nids Thank you! I've updated the list.

[2020-01-07 15:15] anitagraser commented on #21
@elpaso Are you planning to publish your document somewhere (e.g. on a blog)? It's quite long and I'll only be able to include some core infos in the overview report.

[2020-01-07 15:18] mbernasocchi commented on #19
Ready for sending at: https://docs.google.com/forms/d/1PRvPVNlMOuiApsdIFxTFiPX_ZWTqV93LgytJ9e1JQpQ/edit

[2020-01-07 15:37] mbernasocchi commented on #15
Ready for sending at: https://docs.google.com/forms/d/1PRvPVNlMOuiApsdIFxTFiPX_ZWTqV93LgytJ9e1JQpQ/edit

[2020-01-07 17:22] mbernasocchi commented on #20
no need this year since there are no new user groups.

[2020-01-07 17:22] #20 closed

[2020-01-07 17:30] wonder-sk commented on #1
What is not really clear from the question is how we want to deal with binary dependencies which are FOSS. For example many third party python modules (that may be used by plugins) use compiled binaries. It is common that they are distributed with plugins and this would essentially prohibit their use. Not sure if that is intended or if only non-FOSS binaries are meant to be excluded?

[2020-01-07 17:37] mbernasocchi opened #30 "New User groups deadline 31 October"
Date of voting
===========
2020-12-03

Proponent
========
mbernasocchi

Rationale
=======
We agreed that any user groups that are not finalised by the end of October will not participate in the AGM. If not all other votes would be shifted by 2 months affecting the AGM

Votes
=====
In favour: all
Against:

Decision
=======
Approved

Notes
=====
https://docs.google.com/document/d/1mUH4Paoy7-_0lnRPAT

[2020-01-07 17:37] #30 closed, assigned to nobody

[2020-01-07 17:43] mbernasocchi commented on #1
@wonder-sk thanks a lot, indeed it would kill wheels as well. I updated the formulation.

[2020-01-07 17:58] anitagraser commented on #24
I've put a preliminary $4k into https://wiki.osgeo.org/wiki/OSGeo_Budget_2020

[2020-01-08 07:20] pcav commented on #2
IMHO the current situation is satisfactory. Feel free to reopen if you have a proposal to improve it.

[2020-01-08 07:20] #2 closed

[2020-01-08 07:21] pcav commented on #14
@jvdkwast would you like to lead this effort?

[2020-01-09 12:39] jvdkwast commented on #14
@pcav yes I'm happy to do that.

[2020-01-10 10:03] pcav commented on #14
Great, thanks. Please go ahead, and keep me in the loop.

[2020-01-10 10:45] troopa81 commented on #21
@anitagraser here is my report https://lists.osgeo.org/pipermail/qgis-psc/2020-January/008126.html

[2020-01-15 18:16] timlinux commented on #24
How about this draft:

Dear OSGEO Board

We are writing to petition your help both financially and for general support with the OSGEO4W project. Over the years, OSGEO4W (started by Frank Warmerdam and Jürgen Fischer) has become the de-facto delivery mechanism to Windows users for many of the projects that make up OSGEO - including GDAL, PROJ, GRASS, QGIS and many more.

Currently, most of the main

[2020-01-15 18:38] anitagraser commented on #24
It might be worth mentioning that the requested budget represents 50% of what we think is necessary and that the other 50% will be covered by QGIS.ORG

[2020-01-15 20:42] timlinux commented on #24
Thanks, done.

[2020-01-16 15:47] pcav commented on #24
senti to board@lists.osgeo.org

[2020-01-17 11:46] wonder-sk commented on #21
Adding my report https://lists.osgeo.org/pipermail/qgis-psc/2020-January/008158.html

[2020-01-17 11:53] anitagraser commented on #21
@elpaso Could you also publish your information somewhere?

[2020-01-17 12:00] elpaso commented on #21
@anitagraser done: https://www.itopen.it/qgis-abstract-connections-api/

[2020-01-17 12:45] anitagraser commented on #21
Thanks everyone! We now have completed collecting the reports and I'll publish a corresponding summary post on blog.qgis.org in the near future that will link to your detailed reports.

[2020-01-17 13:20] 3nids commented on #21
thanks a lot @anitagraser
before running the next round, may I suggest to review the different discussions we had?
mainly the requirement of having a QEP per proposal to allow discussing them.

[2020-01-17 13:32] anitagraser commented on #21
@3nids Thank you for the reminder! I'll create a separate ticket for this.

[2020-01-17 13:40] anitagraser opened #31 "Refine the grant proposal process"
Deadline
===========
2020-02-28

Notes
=====
In response to last years' rounds of grants, ideas for improving our grants process have been raised. They include:

1. 2018 thread: http://osgeo-org.1560.x6.nabble.com/Grant-application-suggestions-for-next-time-td5368078.html
2. 2019 thread: http://osgeo-org.1560.x6.nabble.com/QGIS-Developer-grant-proposal-tp5408848.html

TODO:
* [x] Summarize the sug

[2020-01-17 13:41] anitagraser commented on #21
@3nids please see https://github.com/qgis/PSC/issues/31

[2020-02-04 19:09] anitagraser commented on #28
Maybe this should be open until the PDF version has been published on the website.

https://qgis.org/en/site/getinvolved/governance/annual_reports/index.html

[2020-02-04 19:13] anitagraser commented on #28
@pcav maybe you want to publish it on the website, since the document is signed in your name

[2020-02-04 19:15] pcav commented on #28
OK, will do ASAP

[2020-02-04 19:27] #19 closed

[2020-02-04 19:31] #15 closed

[2020-02-04 19:34] pcav commented on #12
See #22

[2020-02-04 19:38] pcav commented on #11
Let's discuss about this in the next HF in Den Bosch

[2020-02-04 19:41] andreasneumann commented on #13
Link to 2020 budget proposal:
https://docs.google.com/spreadsheets/d/1pUlUWa7PfgxLn-sX6K2ccPN7ZWXzqrw_QNNFyvw8Sl4/edit#gid=0

[2020-02-04 19:42] anitagraser commented on #9
We'll start advertising this after the developer meeting.

[2020-02-04 19:43] pcav commented on #8
Is this still useful?

[2020-02-04 19:46] pcav commented on #5
Let's discuss about this in Den Bosch

[2020-02-04 19:55] #12 closed

[2020-02-04 20:00] andreasneumann opened #32 "AGM 2020: Prepare vote on environmental policy"
Prepare some votes on environmental policy for AGM 2020

Deadline
===========
2020-02-28

Notes
=====
see e-mail-thread starting at https://lists.osgeo.org/pipermail/qgis-psc/2020-January/008150.html

[2020-02-04 20:02] andreasneumann opened #33 "Financial auditing of year 2019"
Andreas Voigt (Germany) and Andreas Vonlaufen (Switzerland) are the current auditors

Andreas should make all bank statements and financial documents available to them for auditing and ask for their report.

Deadline
===========
2020-12-12

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2020-02-05 09:44] pcav commented on #28
for ref: https://github.com/qgis/QGIS-Website/blob/master/source/site/getinvolved/governance/annual_reports/index.rst

[2020-02-05 17:41] pcav commented on #28
Done, thanks again.

[2020-02-05 17:41] #28 closed, assigned to anitagraser, pcav

[2020-02-08 09:36] pcav commented on #32
Here a proposed text:
---
* do we need an explicit environmental policy?
  * yes, as an independent document
  * yes, as a part of our social contract/vision/etc
  * no

* how many in-person meetings do we want per year?
  * 0
  * 1
  * 2

* do we want general meetings, or a series of smaller ones in sync, so to minimize total movements and promote participation across the globe?
  * general
  * l

[2020-02-08 09:43] pcav commented on #24
Sent a clear proposal.

[2020-02-10 12:34] wonder-sk commented on #32
Few questions:
- do we need an explicit environmental policy - I am not sure I understand the difference between the first two answers (and what are the implications)
- third question - what is meant by "local"? Each country with its own meeting? Or the whole Europe with a single meeting? If the voters choose "local" meetings - are we going to discourage participation of people from outside that r

[2020-02-10 12:46] pcav commented on #32
1. not much, just an organizational option
2. this has to be flexible, it's a general recommendation
3. right, to be added
4. my interpretation is most votes
5. formal decision by the AGM
6. right, to be added

Thanks for comments!

[2020-02-23 09:37] anitagraser commented on #21
Published http://blog.qgis.org/2020/02/23/reports-from-the-winning-grant-proposals-2019/

Thanks everyone for helping collect the necessary info!

[2020-02-23 09:37] #21 closed

[2020-02-23 12:59] pcav commented on #21
Thank you Anita!

[2020-02-23 17:24] anitagraser commented on #31
Suggestions:

1. Create a new github repo for submission of the grant proposals (by @nyalldawson http://osgeo-org.1560.x6.nabble.com/Grant-application-suggestions-for-next-time-tp5368078.html)
2. Require that code-related proposals be accompanied by a QEP filed at least xx days in advance of the grant application (by @nyalldawson http://osgeo-org.1560.x6.nabble.com/Grant-application-suggestions-fo

[2020-02-23 23:23] nyalldawson commented on #31
I think at the least the PSC should have "veto" power over submissions. E.g. if the call for grants specifically states that no new feature proposals are permitted (not sure if that's the plan for this year or not, but just using it as an example), then any proposals which are clearly new features should be filtered out by PSC prior to public listing of the proposals.

[2020-02-24 08:12] pcav commented on #31
I think proposal should be examined by PSC, and refused if not compliant with general policy, as Nyall suggested. Furthermore, I believe PSC recommendations will be good to have, and appreciated.

[2020-02-24 08:26] 3nids commented on #31
Thanks a lot @anitagraser for the summary.

I have the feeling that voting members don't receive sufficient information to make the vote. If we stick to infrastructure and refactoring grants, it's usually quite low level and it's hard to have a good picture.
Having recommendations from the PSC sounds a bit risky but I think it is worth at least discussing the idea.

A softer approach would be this

[2020-02-24 10:07] m-kuhn commented on #31
Having a veto power for the PSC is a good idea.
It's a powerful tool and as such when used it risks damaging relations and political good will.

(Not only) therefore I second @3nids proposal. I would recommend that the summary is written by the PSC (or an appointed other entity) and explicitly not by the author of the grant proposal. The author himself already has the platform to promote his ideas

[2020-02-24 10:15] m-kuhn commented on #32
If for example, Q1. receives:

-    yes, as an independent document : 16 votes
-    yes, as a part of our social contract/vision/etc : 15 votes
-    no : 20 votes

What will be the result?

[2020-02-24 16:09] pcav commented on #32
Good point. As it stand, it would be a no. To be more reasonable, I propose:
* yes 31
 * independent 16
 * contract 15
* no 20
So it would be Yes, independent

[2020-02-24 16:43] m-kuhn commented on #32
Thank you, this grouping sounds good to me :+1:

I thought about it a bit more during the day. Mostly about the other 3 questions. I think there is so much interdependency between these that it's almost impossible to vote on these in one single act. E.g. as a voting member I could have a different opinion on the number of meetings depending on if they are global or local. Or what should I do if I

[2020-02-24 16:48] pcav commented on #32
Someone asked to put the question to the AGM precisely because they felt PSC is not the best subject to decide on this.
Of oourse this kind of question is an easy win (who is against being environmentally friendly?), but leaves all the real stuff to the PSC (which I do not oppose).

[2020-02-25 06:27] m-kuhn commented on #32
True. But many people also have put forward general doubts about if the QGIS project should really take responsibility for the topic. The question should also come with a short summary describing the risks and potential measures to be taken (just like you wrote them) as examples. I hope that by leaving the precise measures open, it also leaves room for discussion of these.

[2020-02-26 22:30] timlinux commented on #31
So I think veto power is a different thing than what you describe above. From your description above, it is a simple screening of proposals for eligibility (which I agree with).

Veto implies that a proposal makes it into voting, is voted for and then we veto an otherwise validly selected proposal (which I am not sure would be a good thing).

[2020-02-26 22:31] nyalldawson commented on #31
@timlinux ok - to clarify i meant the "filter-the-entries-before-voting-opens" power.

[2020-02-27 06:41] pcav commented on #31
Agreed with Tim.

[2020-03-02 07:35] anitagraser opened #34 "Survey LTR usage"
Deadline
===========
2020-03-31

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/2020-March/008290.html

Question proposals included below (quoted from an earlier proposal also in this thread).
 - Which QGIS version are you currently using (3.4, 3.10, another LR)
 - How often do you upgrade patch versions (monthly, sometimes, never)
 - When do you plan to upgrade to the next version
 - Size

[2020-03-02 08:24] andreasneumann commented on #34
I would add the following question:
- how many dot releases do you wait until you install a new LTR version?

As an example in our organization we wait for at least 3-4 dot releases until we dare to roll it out to our users

That doesn't mean that some power users aren't testing the earlier versions, or even before the release.

[2020-03-02 08:37] mbernasocchi commented on #24
@pcav I close this since done. reopen if needed

[2020-03-02 08:45] pcav commented on #24
Let's wait for a reply from Osgeo

[2020-03-02 09:57] haubourg commented on #34
I would also ask what distribution system they use. So that we know if OSGEO4W is 99.9% of the corporate user's. That would really help in focusing packaging efforts and harden our OSGEO4W policy.

[2020-03-02 11:07] mbernasocchi commented on #3
Oslandia, GEM and 3Liz (partially) are interested in having their image used. 3Liz says their image might be a bit too complex.
A project might happen in Switzerland that would dedicate lots of resources to this, so I suggest waiting and see what happens there to avoid duplication.

[2020-03-02 11:13] mbernasocchi commented on #16
@pcav what is to be done here?

[2020-03-02 11:26] pcav commented on #16
This is an ongoing process. First we have to fix the past jobs, then we can add to the calendar the deadlines for publishing the reports.

[2020-03-03 16:05] jef-n commented on #34
You mean Windows?   The standalones use the same binaries.

[2020-03-03 19:30] anitagraser commented on #34
* If you use Windows: Which installer do you use? (stand-alone or OSGeo4W)
* Do you still need 32bit installers?

[2020-03-03 19:56] #8 closed

[2020-03-03 19:59] #22 closed

[2020-03-03 20:00] andreasneumann opened #35 "Prepare budget to be voted on in autumn"
In order to have an approved budget already from the beginning of the year, we should prepare and vote on the budget proposal already in autumn.

This is how most organizations work: decoupling of budget approval and approval of financial report.

[2020-03-03 20:02] andreasneumann commented on #14
Needs a written proposal from the involved people (Tim, Kurt, Hans, myself)

[2020-03-17 10:40] 3nids commented on #31
I would like to precise the idea of the discussion + summary:

During the discussion time-frame (after submission dead-line and before voting), people are invited to discuss on the QEP about concerns, opportunities and ask for more precision. At the end of the discussions, one or several persons will be in charge of writing summaries of the discussions, which will be appended to the QEP descriptio

[2020-03-17 11:11] timlinux commented on #34
Nothing to add from me

[2020-03-17 15:18] anitagraser commented on #31
@3nids Thanks!

So the document for voters should contain 4-8 lines + discussion summary for each proposal?

Who should be in charge?

[2020-03-17 19:09] 3nids commented on #31
Yes, proposal summary and discussion summary would be sent at once.

It could be either someone from the PSC or from the community. If not soneone from the PSC, it could be spread over 2 devs if they have some interest in the proposals.

[2020-03-17 19:21] anitagraser commented on #31
@mbernasocchi @pcav @timlinux @jef-n @andreasneumann Does any one of you want to volunteer?

[2020-03-17 19:43] timlinux opened #36 "We need an environmental policy"
Deadline
===========
2020-12-12

**Environmental policy**
* Similar to Diversity statement
* Should be added near the code of conduct
* Not part of the charter → Doesn’t need to go through AGM
* Andreas: suggestion to use 1000km aerial distance for a decision to take the train or not
* Also when deciding for contributor meetings we should pick places where many people don’t have to fly
* People sh

[2020-03-18 10:46] pcav commented on #31
If nobody else is available I can take this.

[2020-03-18 17:56] wonder-sk commented on #1
For the voting I would suggest to add some extra context for each question, so that voting members better understand what is being voted - many of them are not developers. Maybe it would be good to name some existing QGIS plugins that would be affected.

Also it is worth mentioning the consequences. If any of the questions gets voted YES by the majority, we will have have to remove some plugins an

[2020-03-18 18:45] mbernasocchi commented on #1
thanks @wonder-sk I'm completely with you. We want to spec out much more the text to make sure that anyone has the full context and implications for each vote. @timlinux, myself and ideally @pcav (as the champion of this vote) will work on it and we'd really like your feedback.

[2020-03-18 19:36] pcav commented on #1
Thanks for commenting, I'll add some context. Of course, help is appreciated.

[2020-03-20 16:19] andreasneumann commented on #33
Done and published at https://www.qgis.org/en/site/getinvolved/governance/finance/index.html

[2020-03-20 16:19] #33 closed, assigned to andreasneumann

[2020-03-20 16:22] pcav commented on #1
Proposed text with context; very biased currently, please add different views:

- Plugins should not be platform specific
The aim of QGIS.org is to freely empower all users; platform specific plugins limit functionalities to a subset of users. Furthermore, clean coding is usually multiplatform.

- Plugins should not be allowed to include any binaries
Distributing binaries along with plugins does n

[2020-03-20 17:04] mbernasocchi commented on #1
Hey @pcav

I think we need to vote on unbiased texts.
- The text should be neutral or at least bring both sides of the argument.
- what does "should not" mean? is it a hard rule or we suggest not to do it?
- the test should be turned around, it is much harder to vote on negations. I suggest: the plugins are allowed to be ...

[2020-03-20 17:07] m-kuhn commented on #1
I think we need to separate:

- Text we vote on
- Pro arguments
- Counter arguments

[2020-03-20 17:12] mbernasocchi commented on #1
like the swiss votes, I like it.

For example:

## Vote 1
Plugins are allowed to be platform-specific
### Arguments in favor:
### Arguments against:
The aim of QGIS.org is to freely empower all users; platform-specific plugins limit functionalities to a subset of users. Furthermore, clean coding is usually multiplatform.

## Vote 2
Plugins are allowed to include FOSS binaries
### Arguments in favo

[2020-03-20 17:14] mbernasocchi commented on #1
@wonder-sk, @m-kuhn something like this?
can you help out speccing out the in favour arguments?

[2020-03-20 17:18] mbernasocchi commented on #1
should we change vote 2 to "Plugins are allowed to include **FOSS** binaries? @pcav what do you think?

[2020-03-20 17:31] pcav commented on #1
+1

[2020-03-20 17:33] m-kuhn commented on #1
Is someone able to provide a list of plugins affected by these decisions as requested by @wonder-sk ? Or a list of plugins that have not been allowed in the past because of these rules?

Once we have this list, I can add a couple of lines of advantages that a loose policy will offer for end users, expected effects of a hard policy and a comparison with the situation of some drivers in the osgeo4w

[2020-03-20 17:50] pcav commented on #1
I like this approach, it goes exactly in the direction I was suggesting.

[2020-03-20 17:53] pcav commented on #1
I do not have an easy way to find them. However, these are very exceptional cases. This is one of my arguments against relaxing these rules: adding risks for extremely occasional advantages, if any.

[2020-03-20 18:30] m-kuhn commented on #1
Even if they are exceptional, it would be good looking at them to know what we discuss. I think politics and rule making should be different to shadow boxing.

[2020-03-20 18:33] pcav commented on #1
fro windows-only plugins I can only recall one including one specific krigiging alg, implemented as a windows binary.

[2020-03-20 18:44] m-kuhn commented on #1
What was so bad about this one that we need to ask 4 questions about it?

[2020-03-21 06:40] pcav commented on #1
IMHO, breaking a quite reasonable rule just for one (possibly) missing option in a well known alg is not justified.

[2020-03-21 09:54] m-kuhn commented on #1
Draft proposal, updates welcome

### Plugins are allowed to be platform specific

QGIS.org wants to give users the freedom to use QGIS the way they want and to share what they did. By allowing users to share plugins even if they are platform specific, these can be used by others on the same platform. Everyone else has the possibility to take these plugins and adapt them for more platforms. By allo

[2020-03-21 11:45] andreasneumann commented on #1
I also gave this some thoughts. Clearly we don't want to
- encourage plugins that only work in one OS
- encourage plugins containing binary software

On the other hand we don't want to completely forbid them, if there are really good reasons.

What if: in general we don't allow both, but if we really need to do it, we organize a voting on the individual exception. The plugin author would have to e

[2020-03-21 18:29] m-kuhn commented on #1
Please let me add some personal thoughts, next to the pro arguments above:

I am clearly in favor of allowing platform specific plugins -- with a *recommendation* to make them cross platform. Who gives us the right to request something else? I think we should be grateful for all the work which is shared. If someone wants more he is free to contribute. And it's not an issue anyway with the current

[2020-03-21 18:46] jef-n commented on #1
* I'd also be in favor of allowing plugins that only work on one platform. Code working on one platform is better than no code at all.  And plugins are GPL. Other interested parties can still pickup and add support for other platforms.  There may also might be plugins, that only make sense on a single platform.
* Shipping binaries of free software shouldn't be a problem.
* Proprietary binaries are

[2020-03-23 20:52] anitagraser commented on #34
**Collected and sorted questions**

1. Which QGIS version are you currently using (3.4 LTR, 3.10 LTR, 3.12, another release, development version)
1. Which is the next version you plan to upgrade to? (3.10 LTR, 3.12, dev)
1. How often do you upgrade patch versions, (e.g. from 3.10.0 to 3.10.1) (monthly, sometimes, never)
1. If you use LTR: when do you plan to upgrade to 3.10 LTR? (already upgraded,

[2020-03-23 20:56] anitagraser commented on #34
@m-kuhn Regarding the question "When do you plan to upgrade to the next version?": would you like respondents to provide a date or some relative time with respect to the next release (3.14)?

[2020-03-23 21:20] m-kuhn commented on #34
The main interest for this question was orgs who currently use 3.4 and plan to upgrade to LTR 3.10. Is it possible to offer months (2020/04, 2020/05, ...)?

[2020-03-23 21:22] anitagraser commented on #34
Yes, I think so.

[2020-03-23 21:41] m-kuhn commented on #34
Should we add something along the lines "which version is the next you are upgrading to" to separate users that stick to LTR and those that stick to LR?

[2020-03-23 21:44] anitagraser commented on #34
In 2018, we asked users how often they upgrade http://blog.qgis.org/2018/12/03/user-question-of-the-month-dec-18-answers-from-nov/. I guess we can do that again.

[2020-03-24 05:52] m-kuhn commented on #34
Thanks @anitagraser, I also think so.
What we will have with thi survey is the possibility to do statistics over different variables (e.g. regression analysis on size of organization vs. update interval)
From my side it looks good now. Let me know if you need something else.

[2020-03-25 19:42] anitagraser commented on #34
I've set up the questions on Kobo. This link should provide read access to anyone with an account: https://kf.kobotoolbox.org/#/forms/a8Fxqyxh4HyNHNng7ADSez

@m-kuhn It would be great if you could check that everything is as expected before I send out the call for translations.

I've also invited everyone who previously volunteered to translate questions of the month and given them the necessary e

[2020-03-26 05:30] m-kuhn commented on #34
Thanks @anitagraser

Some thoughts:

- 1: Should we replace "Another release" with "Another 2.x" and "Another 3.x"?
- 2: Add "not planned, other"
- 3: "Never" -> "Less than each half year" -> "Sometimes" -> "More than each half year"
- All radio button: Add "Does not apply" (for people that don't know about 32 bit, or those that don't use LTR)
- For people who use more than one release in parallel

[2020-03-26 06:39] anitagraser commented on #34
@m-kuhn I'd like to give you edit rights. Please send me your Kobo account name so I can add you

[2020-03-26 06:41] m-kuhn commented on #34
It's `mkuhn`

[2020-03-26 06:42] anitagraser commented on #34
Thanks! Note that none of the questions is mandatory. It should be possible to submit without filling them. But we can add explicit "Does not apply" options if you prefer.

[2020-03-26 06:46] m-kuhn commented on #34
I think it would be better, the expectation for radio buttons is that they stay checked (even if checked accidentally).

[2020-03-26 19:01] mbernasocchi commented on #34
Thanks a lot @anitagraser! I looked in kobo and it looks nice. if you need help I'm mbernasocchi there.

to me, we should add 2.18 to Which QGIS version are you currently  using.

[2020-03-27 05:35] m-kuhn commented on #34
@anitagraser questions updated, how do they look to you?

[2020-03-27 06:39] anitagraser commented on #34
@mbernasocchi I've added you

[2020-03-27 09:35] mbernasocchi commented on #34
looks great thanks, I just did a mini fix:
Question 2 from `More often` to `More often, as soon as they appear`

[2020-03-27 09:51] m-kuhn commented on #34
Actually, we don't ship patch releases more often, what's the meaning of this ?

I.e. can we remove this option or merge it with monthly?

[2020-03-27 10:46] mbernasocchi commented on #34
done: Monthly, as soon as they appear

[2020-03-27 10:49] m-kuhn commented on #34
Thanks.
Ready for sending to translation?
Let me know if I can still help.

[2020-03-27 14:48] anitagraser commented on #34
I'll send out the call for translations now. Thank you for your help!

[2020-03-28 12:32] anitagraser commented on #31
@pcav We should update the existing documentation of the grant process to reflect the discussed changes: https://docs.google.com/document/d/1CNmSJxztrHrqLfillDH8v1zWaMzxFUyYSPT3sut55eQ/edit?usp=sharing

In particular, it includes the text for the form that was used to submit proposals. This will have to be updated.

The document is also open for further comments (everyone with the link should be a

[2020-03-31 14:28] pcav commented on #31
Please check the edits. I think most needed info should be present now.
Cheers.

[2020-04-04 12:41] anitagraser commented on #31
@nyalldawson @3nids @m-kuhn @timlinux Please have a look at the document if you can so we can finalize and vote on it in the next PSC meeting on Tuesday.

[2020-04-08 22:59] timlinux commented on #1
Can I suggest to pose questions rather than statements? I also tweaked the wording from others above in this thread to make the questions more natural and removed spurious or emotive statements.

## Vote 1: Should platform-specific plugins be hosted in the QGIS plugin repository?

### Arguments in favor:

QGIS.org wants to give users the freedom to use QGIS the way they want and to share what they

[2020-04-09 05:54] 3nids commented on #1
May I suggest to reformulate:

by

I know we're mixing 2 concepts here: platform dependent and binary linking but I think it helps understanding the topic and avoid people think it's going to be for mac users only

[2020-04-09 06:06] 3nids commented on #1
If we choose to shoot a bullet in our foot (by enforcing strict(er) rules), could we consider:
* we extend metadata to hold this information
* by default, we filter out the ones we don't like similarly to what is done for experimental right now
* we let power users enable it

I think the vote is already complex enough, but I would see it as an additional global question:

[2020-04-09 08:44] vpicavet commented on #1
I think we miss the security aspects and the legal one here.

As for security and related responsibility : if QGIS.org hosts binaries and distribute them, the end-user should be able to trust them not to have any security problems. For this we need at least : 
- A/ access to the source code for the distributed binaries
- B/ a reproducible build process to generate said binaries
As for B, we should

[2020-04-13 17:36] anitagraser commented on #31
I'm wondering about the time line. Currently, our document states

Is this helpful? Or should we instead have some time (e.g. two weeks) between grant submission deadline and starting the voting?

[2020-04-14 09:55] pcav commented on #31
@anitagraser your proposal makes sense to me. I leave comments to the original proponent of the 10-days advance, I believe @nyalldawson

[2020-05-05 18:26] andreasneumann commented on #32
done ... see AGM 2020

[2020-05-05 18:26] #32 closed, assigned to andreasneumann

[2020-05-05 18:27] andreasneumann commented on #36
Done. Accepted at the AGM 2020.

[2020-05-05 18:27] #36 closed, assigned to timlinux, andreasneumann

[2020-05-05 18:56] andreasneumann opened #37 "Report AGM 2020 results (new chair/co-chair) at trade registry"
Deadline
===========
2020-12-12

Also translate meeting minutes to german.

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2020-05-05 18:59] andreasneumann opened #38 "Add environmental policy to our Website"
Deadline
===========
2020-12-12

Notes
=====
https://lists.osgeo.org/pipermail/qgis-psc/

[2020-05-08 23:57] #38 closed, assigned to andreasneumann

[2020-05-08 23:59] mbernasocchi opened #39 "Discuss tweaks to AGM/PSC election method"
Deadline
===========
2020-12-12

[2020-05-12 18:09] anitagraser commented on #31
We've voted on the new process: https://lists.osgeo.org/pipermail/qgis-psc/2020-April/008639.html

The call for grant proposals has been published on 2020-04-26
http://blog.qgis.org/2020/04/26/qgis-grants-5-call-for-grant-proposals-2020/

[2020-05-12 18:09] #31 closed, assigned to anitagraser

[2020-05-12 18:09] anitagraser commented on #9
The 2020 event in Nodebo had to be cancelled

[2020-05-12 18:09] #9 closed

[2020-05-15 07:35] elpaso opened #40 "Discuss how we should address potential QGIS server security issues"
Discussing with Matthias about a potential issue in QGIS Server where an expression can be used to disclose information about the server environment we came into the situation where we cannot publicly discuss about the issue because we don't have a patch or a mitigation procedure yet.

This made me think that we should have a standard procedure about how we address these cases, I don't have a prop

[2020-05-17 07:35] alexbruy commented on #40
There were a disscussion while ago http://osgeo-org.1560.x6.nabble.com/QGIS-Developer-Reporting-security-related-issues-td5429789.html. Not sure if this what you are looking for.

[2020-05-18 17:02] mbernasocchi opened #41 "Clarify process for becoming core committers"
Initial proposal by Marco
==================
We should fix a rule where the PSC has not much to say in this and to successfully become a new core committer a contributor needs to be vouched for by at least 5 (it might be
3, 5, 5 with at least 3 non-coworkers, X) core committers and no major concerns have risen?
The PSC would then just acknowledges what the core developer community decided and if a

[2020-05-19 10:37] anitagraser commented on #41
For reference: we used Loomio for voting for a while https://www.loomio.org/g/EKV14L8A/qgis

[2020-06-02 15:56] anitagraser commented on #34
Results of the survey have been sent out on the mailing list and posted on the blog http://blog.qgis.org/2020/04/02/ltr-usage-survey/

You can find the raw survey responses here:
https://drive.google.com/open?id=1lECEhusQcpDpb50MSMYP_5BDfEl4jXeV

[2020-06-02 15:56] #34 closed, assigned to anitagraser

[2020-06-02 17:56] mbernasocchi opened #42 "answer to KDE eV"
Qt / KDE Request
QGIS.org / OSGeo have been invited to “Akademy” event as a reaction to our email regarding the future of Qt
TODO Marco: Write answer
If they discuss the future of Qt we can come.
If they want us to present I’ll gladly do it.
QGIS rather than OSGeo should be the main contact point (not many other Qt projects in OSGeo).
Qt are announcing future plans, perhaps as related to licensing

[2020-06-19 14:18] anitagraser commented on #31
Thanks to @3nids for compiling the summary of this year's eligible grants:  https://lists.osgeo.org/pipermail/qgis-psc/2020-June/008897.html

Comments welcome (here or on the mailing list)!

[2020-09-24 17:48] anitagraser opened #43 "Reports from the winning grant proposals 2020"
**[Published blog post](https://blog.qgis.org/2021/04/03/reports-from-the-winning-grant-proposals-2020/)**

Status of individual project reports:

- [x] https://github.com/qgis/QGIS-Enhancement-Proposals/issues/180 - [Report](https://lists.osgeo.org/pipermail/qgis-psc/2020-December/009186.html)
- [x] https://github.com/qgis/QGIS-Enhancement-Proposals/issues/181 - [Report](https://lists.osgeo.org/p

[2020-09-24 17:52] anitagraser commented on #7
@andreasneumann should we still write this post?

[2020-09-25 07:38] andreasneumann commented on #7
It is probably too late for this one. Let's close it.

[2020-09-25 07:38] #7 closed

[2020-10-09 06:12] anitagraser opened #44 "Write 32bit news item"
Deadline
===========
2020-10-30

Notes
=====
https://docs.google.com/document/d/1Im-Z83byy1Wz93yd_v91TtkMxhMnsaHUkXwXXDpP924/edit?usp=sharing

[2020-10-09 06:14] anitagraser commented on #41
ongoing at https://docs.google.com/document/d/1p7JGK-t7P7lrXPIxwjhc3mSo0TaOTfUaIypFzO3i17I/edit

[2020-10-09 06:16] anitagraser opened #45 "Add contact information on our website"
Deadline
===========
2020-12-12

Notes
=====

add certification@qgis.org, board@qgis.org and security@qgis.org to the website.

[2020-10-11 09:47] mbernasocchi commented on #44
@anitagraser did you receive my bulletpoints last week?

[2020-10-11 09:49] anitagraser commented on #44
@mbernasocchi No, I didn't. Was it a google docs invite?

[2020-10-11 09:54] mbernasocchi commented on #44
@anitagraser I shared it again to your @qgis address

[2020-10-14 20:39] anitagraser commented on #44
Let me know if the draft works for you and then we can mail and blog it.

[2020-10-15 06:06] mbernasocchi commented on #44
thanks a lot was perfect, I've published the blog. will do the mailing now.
can you tweet?

[2020-10-15 06:18] andreasneumann commented on #44
![image](https://user-images.githubusercontent.com/884476/96084231-05931600-0ebf-11eb-8acc-0ec1b0de938f.png)

Is this some abbreviation / slang thing that I don't know, or an error?

[2020-10-15 06:20] andreasneumann commented on #44
Apparently "Tl;dr" stands fro "too long; didn't read" is it this what you mean?

See https://www.howtogeek.com/435266/what-does-tldr-mean-and-how-do-you-use-it/

[2020-10-15 06:29] mbernasocchi commented on #44
yes, it is pretty commonly used in blogs

[2020-10-15 06:32] mbernasocchi commented on #44
@andreasneumann normally it should not be in an excerpt. I removed it now from the excerpt, and left it in the post
thanks for reporting

[2020-10-15 06:32] #44 closed, assigned to mbernasocchi, anitagraser

[2020-10-15 06:57] anitagraser commented on #44
Done: https://twitter.com/qgis/status/1316634157360074752

[2020-10-15 07:26] andreasneumann commented on #44
And you actually mean that? Too long, didn't read? I have no idea what this should mean in this context. The blog entry is really short - so I have no idea what this should mean in this context.

[2020-10-15 07:55] mbernasocchi commented on #44
if you look at the blogpost, the tl;dr ist 1 sentence that tells you what the content of the post is. same as an executive summary.

[2020-10-15 07:56] #42 closed, assigned to mbernasocchi

[2020-10-15 08:19] andreasneumann commented on #44
Stupid thing in my opinion. Not everyone understands such abbreviations. To me it looks like an error - like someone didn't manage to write HTML correctly.

[2020-10-15 12:22] anitagraser commented on #44
I was assuming that this abbreviation has become common knowledge online but since this doesn't seem to be the case, I've removed it from the blog post.

[2020-10-15 12:51] andreasneumann commented on #44
Well maybe I'm old fashioned - but I'm also approx. 10 years older than you guys ;-)

In any case - this blog post is so short that you don't really need a summary.

[2020-10-15 14:15] andreasneumann commented on #44
Out of curiosity: I asked all of my coworkers if they knew this abbreviation - not a single person knew it.

But now that I've learned something new, I feel at least 5 years younger ;-)

[2020-10-15 14:18] andreasneumann commented on #44
According to https://www.howtogeek.com/435266/what-does-tldr-mean-and-how-do-you-use-it/ you'd have to get rid of the semicolon - or you are outing yourselve as an "old" geek as well ;-)

[2020-10-30 16:40] mbernasocchi commented on #13
this is being worked on

[2020-11-03 17:10] anitagraser opened #46 "Run election for new community members"
Deadline
===========
2020-11-30

[2020-11-03 17:10] anitagraser opened #47 "Update list of country user groups"
Deadline
===========
2020-11-30

New country user groups

- Slovakia
- Philippines
- Indonesia
- Netherlands

[2020-11-03 17:11] anitagraser opened #48 "Check real cost of OGC certification"
Deadline
===========
2020-11-10

[2020-11-03 17:12] anitagraser opened #49 "Start QEP for two year LTR"
Deadline
===========
2020-11-30

[2020-11-10 16:19] anitagraser commented on #48
The costs are a function of

`QGIS version * Standard version * Protocol version * EUR 300 per year`

So, if we only certify LTR for the most recent standard version, we estimate yearly costs of EUR 600 for (WMS + WFS).

[2020-12-08 16:31] anitagraser commented on #35
Ready to set up voting

[2020-12-08 16:31] mbernasocchi commented on #48
The decision is to do only for the current LT version for WMS, WFS, OAPIF (AKA wfs3) -> 900€/year

[2020-12-08 16:31] #48 closed, assigned to elpaso

[2020-12-08 17:34] #13 closed

[2020-12-16 21:00] mbernasocchi opened #50 "Update QGIS.org structure diagramm"
The diagram of QGIS.org includes names and so on.

Ideally, it should only include role names so that it is always up to date and does not need maintenance.

for reference, talking about this:
https://drive.google.com/file/d/12qPHUjvPv5CMpZKSWHwr65DG-YOZsub1/view?usp=sharing

[2021-01-06 16:00] anitagraser opened #51 "Annual report 2020"
Deadline
===========
2021-01-31

Compile annual report, incl. financial report for 2020

[2021-01-06 16:01] anitagraser opened #52 "Financial report 2020"
Deadline
===========
2021-01-31

Compile financial report for 2020.

This is a requirement for #51

[2021-01-06 16:01] anitagraser commented on #35
Budget 100% approved (23 votes)

[2021-01-06 16:01] #35 closed, assigned to andreasneumann

[2021-01-06 16:06] anitagraser opened #53 "Grant programme 2021"
Process description:
https://docs.google.com/document/d/1CNmSJxztrHrqLfillDH8v1zWaMzxFUyYSPT3sut55eQ/edit?usp=sharing

* [x] Update process description with new timeline
* [x] Post call for proposals
* [x] Compile proposal information for voters
* [x] Run voting
* [x] Publish voting results / winning projects
* [ ] Report results from winning projects
   * [Rework handling of multi-layer, mixed-fo

[2021-01-06 16:12] anitagraser commented on #43
If I haven't missed any reports, it seems that five projects are still outstanding:

* https://github.com/qgis/QGIS-Enhancement-Proposals/issues/180 (@SrNetoChan)
* https://github.com/qgis/QGIS-Enhancement-Proposals/issues/181 (@wonder-sk)
* https://github.com/qgis/QGIS-Enhancement-Proposals/issues/163 (@3nids)
* https://github.com/qgis/QGIS-Enhancement-Proposals/issues/186 (@mhugo)
* https://gith

[2021-01-06 16:14] anitagraser commented on #45
Should this information go onto https://qgis.org/en/site/getinvolved/governance/governance.html or somewhere more prominent?

[2021-01-06 16:15] anitagraser commented on #24
Has there been a reply?

[2021-01-06 16:18] anitagraser commented on #47
The full list according to [PSC meeting minutes Jan 2021](https://docs.google.com/document/d/1AO8bmkcTJpWVQnU4mYKsobl26d0w5QqAYIaQb_W9_zo/edit?usp=sharing) is:

* México: Hennessy Amor Becerra Ayala
* Netherlands: Raymond Nijssen
* Indonesia: Ismail Sunni
* Slovakia: Jana Michalkova
* Ecuador: Adrián Benavides

Needs to be updated at: https://qgis.org/en/site/forusers/usergroups.html#qgis-usergrou

[2021-01-06 16:24] anitagraser commented on #47
https://github.com/qgis/QGIS-Website/pull/855

[2021-01-06 16:30] anitagraser opened #54 "Meeting minutes PDFs"
Deadline
===========
2021-01-31

Create PDFs from PSC meeting minutes and link them in https://github.com/qgis/QGIS/wiki

[2021-01-06 16:36] anitagraser commented on #51
WIP document: https://docs.google.com/document/d/17s06BWgklAeUMndjHOKpmnNZA7wYRmZphVCYLr1fOrE/edit?usp=sharing

[2021-01-07 11:48] timlinux commented on #54
So @seabilwe has kindly 'volunteered' to migrate these. Because we cannot attach pdfs directly in the wiki, I am going to have her do it here and then link to the uploaded attachements from the wiki. Hope that works for you?

@seabilwe please work through the list below. For each doc, save it as a PDF, then attach it to this issue. Then replace the GDrive link with the PDF attachment link. (so we

[2021-01-07 23:13] SrNetoChan commented on #43
@anitagraser We made our report in December.

https://lists.osgeo.org/pipermail/qgis-psc/2020-December/009186.html

Nevertheless, we will keep working on adding a few more example test cases, and we plan to put the structure and methods to practice for 3.18 and 3.16LTR releases.

[2021-01-21 15:33] wonder-sk commented on #43
Report for QEP#181: https://lists.osgeo.org/pipermail/qgis-psc/2021-January/009211.html

[2021-01-22 10:05] seabilwe commented on #54
## 2021

- [x] [June 2021.pdf](https://github.com/qgis/PSC/files/7656674/June.2021.pdf)
- [x] [July 2021.pdf](https://github.com/qgis/PSC/files/7656675/July.2021.pdf)
- [x] [August 2021.pdf](https://github.com/qgis/PSC/files/7656679/August.2021.pdf)
- [x] [September 2021.pdf](https://github.com/qgis/PSC/files/7656682/September.2021.pdf)
- [x] [October 2021.pdf](https://github.com/qgis/PSC/files/76

[2021-01-22 10:36] seabilwe commented on #54
Hi @timlinux @anitagraser  I have converted all the files, except for the ones mentioned below.

Access to files:
- [x] February  2017 PDF: [February 2017.pdf](https://github.com/qgis/PSC/files/7453228/February.2017.pdf)
- [x] August 2017 PDF: [August 2017.pdf](https://github.com/qgis/PSC/files/7453229/August.2017.pdf)

Documents not present:
- [x] September 2016 PDF: [September 2016.pdf](https://

[2021-01-29 17:23] timlinux commented on #54
Thank you so much @seabilwe

[2021-02-02 16:09] andreasneumann commented on #49
Started at https://github.com/qgis/QGIS-Enhancement-Proposals/issues/207

[2021-02-12 14:30] timlinux commented on #54
@seabilwe can you move the pdf links above onto the wiki page?

[2021-02-22 16:53] #47 closed, assigned to mbernasocchi

[2021-02-22 16:56] mbernasocchi commented on #6
Merged https://github.com/qgis/QGIS/pull/34988

[2021-02-22 16:56] #6 closed

[2021-02-22 16:56] #46 closed, assigned to mbernasocchi

[2021-02-22 16:57] mbernasocchi commented on #16
is this still ongoing?

[2021-03-02 16:18] anitagraser commented on #43
We will be wrapping up the annual report soon and would like to include the grant proposal reports (like last year, there will be a link to [the blog post](https://blog.qgis.org/2020/02/23/reports-from-the-winning-grant-proposals-2019/)). @3nids and @mhugo could you provide status reports by mid of March?

Reports from these three projects are currently outstanding:

* https://github.com/qgis/QGIS

[2021-03-24 08:46] anitagraser commented on #53
@nyalldawson @3nids @m-kuhn @timlinux @mbernasocchi @pcav Once the 2021 QEP discussion phase is over, we'll need to [compile summaries](https://github.com/qgis/PSC/issues/31) again. Do we have any volunteer for compiling the proposal and discussion summaries?

[2021-03-26 11:51] vpicavet commented on #43
As for https://github.com/qgis/QGIS-Enhancement-Proposals/issues/186 we are still looking for a review and it is not easy. We are working on it with Andreas, and we will keep you updated on the status as soon as we have visibility on the outcome.

[2021-04-03 09:06] anitagraser commented on #43
I've published the blog post summarizing the currently available 7 reports: https://blog.qgis.org/2021/04/03/reports-from-the-winning-grant-proposals-2020/

The blog post will be updated with further reports as they come in.

[2021-04-03 09:10] anitagraser commented on #51
@mbernasocchi The report is ready for you to sign and publish. Please have a look.

[2021-04-08 17:11] anitagraser commented on #53
Proposal summaries are available at: https://docs.google.com/document/d/1mQeiuVpFQNhAvoQ1LAllVhYNQM1GfxYDfvqqCGyulR8/edit?usp=sharing

[2021-05-05 07:27] anitagraser commented on #54
@timlinux @seabilwe will you continue this effort in the future, i.e. will you set yourself a reminder to publish the minutes after each meeting? February 2021 and later are currently missing.

[2021-05-05 07:44] anitagraser commented on #54
Concerning the missing missing files:

- September 2019: The September meeting was in late August (https://docs.google.com/document/d/1fecwgBHJ1VOGMpyf5QclIxmLJklvsc5a7Do_qKaWIos/edit?usp=sharing) and the August meeting was in late June. I've fixed the order: https://github.com/qgis/QGIS/wiki/Home/_compare/0b20828c75bc23dfc01eae06381cfac523f1dca9.
- What is actually missing from the PDFs is the Ju

[2021-05-05 07:48] seabilwe commented on #54
Hi @anitagraser @timlinux I will make some time during  the week and sort everything out

[2021-05-16 11:28] mbernasocchi commented on #51
done https://github.com/qgis/QGIS-Website/pull/891

[2021-05-16 11:28] #51 closed, assigned to mbernasocchi, anitagraser

[2021-08-04 16:33] anitagraser commented on #53
Voting results are available at:
https://docs.google.com/spreadsheets/d/1khDRDElKTnB6e_p_ptUz4-4735RCOa7UZfh3hEsQrjI/edit?usp=sharing

Selected proposals:

- QEP#213 QGIS Server and services documentation
- QEP#216 Rework handling of multi-layer, mixed-format datasets
- QEP#205 Port DB Manager Table Management Functionalities to Browser: SQL execution (part 3)
- QEP#210 Locale support for numeric

[2021-12-04 13:25] anitagraser opened #55 "Add QGIS Application Network Connections to website"
Deadline
===========
2021-12-12

Notes
=====

- [x] Prepare Overview document: [QGIS Application Network Connections](https://docs.google.com/document/d/1V0q1TIG6nhSwGFHa9-hG7duEuUHE0xOc3iEYN3cZKd4/edit#)
- [x] Add table to documentation https://docs.qgis.org/testing/en/docs/user_manual/appendices/qgis_desktop_network_connections.html
- [x] Publish link to documentation on the website in the “for

[2021-12-04 14:07] anitagraser commented on #55
Since it's a big table, it needs more screen estate than qgis.org web pages provide. Therefore, I've decided to add this content to the user manual: https://github.com/qgis/QGIS-Documentation/pull/7178

[2021-12-07 17:50] mbernasocchi commented on #55
@anitagraser I added the OS, but maybe @elpaso can check the original table?

[2022-01-04 16:40] elpaso commented on #55
LGTM, the OS has been added where relevant.

[2022-01-06 13:56] anitagraser opened #56 "Reports from the winning grant proposals 2021"
- [x] [Write up summary blog post](https://blog.qgis.org/2022/02/05/reports-from-the-winning-grant-proposals-2021/)

Deadline
===========
2022-01-31

Notes
=====

This TODO is part of #53.

Status of individual reports:

- [x] https://github.com/qgis/QGIS-Enhancement-Proposals/issues/213 - [Report](https://lists.osgeo.org/pipermail/qgis-psc/2022-January/009626.html)
- [x] https://github.com/qgis/Q

[2022-01-06 13:57] anitagraser commented on #53
Closing in favor of #56

[2022-01-06 13:57] #53 closed, assigned to anitagraser

[2022-01-06 13:57] #45 closed, assigned to anitagraser

[2022-01-06 13:58] #54 closed, assigned to timlinux

[2022-01-06 14:19] anitagraser commented on #43
Hi @3nids and @mhugo, could you please let me know about the status of the three outstanding project reports? It would be great to be able to close this ticket.

[2022-01-06 14:24] anitagraser commented on #39
The new approach has been approved by the 2021 AGM. This ticket can be closed when the description is published on the website.

[2022-01-06 14:26] anitagraser opened #57 "Grant programme 2022"
Process description:
https://docs.google.com/document/d/1CNmSJxztrHrqLfillDH8v1zWaMzxFUyYSPT3sut55eQ/edit?usp=sharing

* [x] Update process description with new timeline
* [x] Post call for proposals
* [x]  ~~Compile proposal information for voters~~
* [x]  ~~Run voting~~
* [x] Publish voting results / winning projects
* [x] Report results from winning projects:
   * [x] https://github.com/qgis/QG

[2022-01-06 14:28] anitagraser commented on #57
Since the 2022 budget is already approved, we are able to start the call for proposals already in January. This should make it easier to ensure that funded projects can be finished within the calendar year.

[2022-01-06 14:48] 3nids commented on #43
I sent it to PSC mailing list https://lists.osgeo.org/pipermail/qgis-psc/2021-October/009535.html
You can find the final report as a QEP here: https://github.com/qgis/QGIS-Enhancement-Proposals/issues/237

[2022-01-06 14:56] anitagraser commented on #43
Thank you for the fast response, @3nids! Do you also have an update for https://github.com/qgis/QGIS-Enhancement-Proposals/issues/124 ?

[2022-01-06 15:00] anitagraser commented on #43
@obrix have you been working on https://github.com/qgis/QGIS-Enhancement-Proposals/issues/186 ?

[2022-01-06 15:04] 3nids commented on #43
Sorry for this, I will send a report in the next days.

[2022-01-06 15:05] obrix commented on #43
@anitagraser  Yes but I have not been in charge of this work for a while. It seems @troopa81 is in charge now, see last message on https://github.com/qgis/QGIS-Enhancement-Proposals/issues/186

[2022-01-06 15:22] elpaso commented on #56
Regarding https://github.com/qgis/QGIS-Enhancement-Proposals/issues/210

The work has been completed with multiple pull requests that fixed all localization issues that have been reported plus countless unreported issues that have been identified along the way.

Here is a list of the relevant pull requests:

Localization of feature count attr table titles https://github.com/qgis/QGIS/pull/46293
Fi

[2022-01-06 15:33] anitagraser commented on #56
@elpaso excellent. Could you please also send the report to the PSC list (similar to https://lists.osgeo.org/pipermail/qgis-psc/2022-January/009621.html) so we have a permanent public record. Thanks!

[2022-01-07 09:20] pblottiere commented on #56
Grant reports for:

- [QGIS Server and services documentation](https://github.com/qgis/QGIS-Enhancement-Proposals/issues/213): https://lists.osgeo.org/pipermail/qgis-psc/2022-January/009626.html
- [QGIS Server, OGC tests and Continuous Integration: OGC API Features (part 2)](https://github.com/qgis/QGIS-Enhancement-Proposals/issues/212): https://lists.osgeo.org/pipermail/qgis-psc/2022-January/0096

[2022-01-12 07:55] troopa81 commented on #43
@anitagraser I resumed the work started by @obrix and I am on the edge of releasing something, but there is still work to be done. The report will follow then. Sorry for the (great) delay

[2022-01-24 13:24] 3nids commented on #43
I just added the report for the setting registry: https://github.com/qgis/QGIS-Enhancement-Proposals/issues/124#issuecomment-1020119026

[2022-01-28 16:13] anitagraser commented on #43
Thank you @3nids . I've updated the blog post to include your reports: https://blog.qgis.org/2021/04/03/reports-from-the-winning-grant-proposals-2020/

[2022-01-30 17:10] anitagraser commented on #55
The table PR has been merged into docs. Once the docs are rendered, we are ready to put the link to the new appendix https://docs.qgis.org/testing/en/docs/user_manual/appendices/index.html on the QGIS website.

[2022-03-01 16:14] #56 closed, assigned to nobody

[2022-03-01 18:29] #55 closed, assigned to anitagraser

[2022-03-27 01:07] agiudiceandrea commented on #55
Hi @anitagraser, in the file https://docs.google.com/document/d/1V0q1TIG6nhSwGFHa9-hG7duEuUHE0xOc3iEYN3cZKd4 I see "**IP, QGIS version, OS**" as information sent to the server, while in https://docs.qgis.org/testing/en/docs/user_manual/appendices/qgis_desktop_network_connections.html I see only "**IP, QGIS version**", so "**OS**" is missing.

Is this intended or is it an oversight?

See also https

[2022-03-27 08:44] anitagraser commented on #55
Hi Andrea,

That was certainly an oversight. Good catch and thank you for reporting it. I've updated the table: https://github.com/qgis/QGIS-Documentation/pull/7434

Regards,

Anita

[2022-03-27 09:39] agiudiceandrea commented on #55
Hi @anitagraser, thanks!

It seems to me that probably there is something else missing or not clear: e.g., the table says that the information stored on qgis.org server is only the IP, so what's the reason of adding the OS (and the QGIS version) to the User-Agent string sent by QGIS Desktop client to the QGIS Web server? Is such information discarded, not used and not stored in the logs or is it a

[2022-03-27 09:55] anitagraser commented on #55
Yes, this table is only meant to describe the connections QGIS Desktop makes.

It may be that the version info is used in the "New version check" but @mbernasocchi will know more. However, as far as I know, the information is discarded afterward.

On the website, we have minimized the amount of cookies used. Some are necessary to provide donation options.

[2022-03-31 06:03] agiudiceandrea commented on #55
Yes, I know. Anyway, it seems to me the server for the "New version check" is `version.qgis.org`, not `www.qgis.org`, and that the QGIS version is sent also for "QGIS Feed", in addition to IP, language code, last download timestamp and OS.

Since the OS info is sent in order to "collect some statistics about the operating system" then I presume it is stored.

[2022-05-16 14:25] troopa81 commented on #43
I've just sent report for the vectorization of selective masking : https://lists.osgeo.org/pipermail/qgis-psc/2022-May/009772.html

[2022-05-16 16:25] #43 closed, assigned to anitagraser

[2022-10-04 15:50] #39 closed, assigned to mbernasocchi

[2022-10-04 15:51] #52 closed, assigned to andreasneumann

[2022-10-04 15:52] mbernasocchi commented on #49
@andreasneumann can we close this?

[2022-10-04 15:52] #49 closed, assigned to andreasneumann